*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.main-card{
    display: flex;
    gap: 2rem;
    padding: 2vw;
    width: 100%;
    height: 100vh;
    background-color: royalblue;
}

.cards-p{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #eee;
    border-radius: 50px;
    overflow: hidden;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s ;
}

.logo{
    position: absolute;
    width: 15vw;
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s ;
}

.cards-p:hover .logo{
    opacity: 1;
}

.cards-p:hover .card-img{
    filter: blur(5px);
    scale: 1.1;
}